<body class="pageReportsEmailConfirmation">
    <div>
        <h1>@ViewBag.Content</h1>
        <img src="@System.Configuration.ConfigurationManager.AppSettings["smilesImagePath"]" alt="Smile" />
    </div>
</body>
